@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
@layer base {
  :root {
    /* Text */
    --text-primary: #ededed;
    --text-secondary: #a0a0a0;
    --text-tertiary: #7e7e7e;
    --text-gradient: linear-gradient(333deg, #aaa, #fff);

    /* Background */
    --bg-primary: #161616;
    --bg-primary-rgba: rgba(22, 22, 22, 0.8);
    --bg-secondary: #1c1c1c;
    --bg-tertiary: #232323;
    --overlay: rgba(0, 0, 0, 0.7);
    --bg-linear-gradient: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      hsl(0 0% 20.5%) 20%,
      hsl(0 0% 49.4%) 70%,
      rgba(0, 0, 0, 0)
    );
    --bg-linear-gradient-subtle: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      hsl(0 0% 20.5%) 20%,
      hsl(0 0% 30%) 70%,
      rgba(0, 0, 0, 0)
    );

    /* Border */
    --border-primary: #2e2e2e;

    /* Box Shadow */
    --shadow-focus: 0 0 0 2px var(--bg-primary), 0 0 0 4px var(--text-primary);

    /* Widths */
    --max-width-section: 42.5rem; /* 680px */
  }
}

/* Custom CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* custom styles for borders */
  border-width: 0;
  border-style: solid;
  border-color: var(--border-primary);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  color-scheme: dark;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  /* https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height */
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border-width: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  line-height: 1.7;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
